@import "tailwindcss";

.shape {
    width: 30px;
    height: 30px;
    @apply bg-sky-400 hover:bg-sky-700;
    border-color: transparent;
    border-width: 0px;
    border-style: solid;
  }

  .shape.square {
    border-radius: 0;
  }
  
  .shape.circle {
    border-radius: 50%;
  }
  
/* TODO: make edges more even */
  
  .shape.triangle {
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
  }

  .shape.hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }