@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.quadrant{
  @apply grow bg-zinc-500 hover:bg-zinc-700;
  width: 200px;
  height: 200px;
}

.quadrant.tl{
  border-radius: 100% 0% 0% 0%;
}

.quadrant.tr{
  border-radius: 0% 100% 0% 0%;
}

.quadrant.bl{
  border-radius: 0% 0% 0% 100%;
}

.quadrant.br{
  border-radius: 0% 0% 100% 0%;
}